#bg {
    width: 400px;
    height: 640px;
    padding-top: 100px;
}

#list {
    height: 540px;
    overflow: auto;
    font-family: "lucida sans unicode";
    color: #357ebd;
    font-size: 25px;
    text-align: justify;
}

#product {
    width: 200px;
}
#quantity {
    width: 150px;
}
#qValue {
    color: #357ebd;
    display: inline-block;
}
#options {
    float: right;
}

.bought {
    text-decoration: line-through;
}

.removed {
    opacity: 1;
    animation: disappear 10s;
    -webkit-animation: disappear 10s;
    display: none;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Standard syntax */
@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

.small {
    overflow: hidden;
    height: 0px;
    transition: height 1s;
}

.big {
    height: 100;
    overflow: auto;
}

#edit {
    font-size: 15px;
}


.left {
    margin-left: 100px;
}

#right {
    float: right;
    margin-right: 100px;
}

.tab-title {
    color: crimson;
    font-size: 20px;
    text-shadow: 0 0 0;
    transition: all 1s;
}
.tab-title:hover {
    text-shadow: 0 0 5px pink;
}

.scale {
    height: 1px;
    transition: height 1s;
    overflow: hidden;
}